body {
    background-color: black;
    color: white;

}

.grid-container {
    display: grid;
    gap: 0px;
    grid-template-rows: auto auto;
    grid-template-columns: .5fr 2fr .5fr 1fr;
    grid-template-areas: 
        'profile name status status'
        'profile comments direction duration';
    border-bottom: 1px solid rgb(53, 53, 53);
}

.grid-name {
    grid-area: name;
    padding: 1rem 0 0 1rem;
}

.grid-status {
    grid-area: status;
    justify-self: end;
    padding: 1rem 0 0 0;
}

.grid-profile {
    grid-area: profile;
    padding: 1rem 0 .75rem 0;
}

.grid-comments {
    grid-area: comments;
    padding: .65rem 0 .5rem 1rem;
    
}

.grid-duration {
    grid-area: duration;
    align-self: center;
    justify-self: end;
}

.grid-status-icon {
    grid-area: direction;
    place-self: end;
    padding: .75rem 0 .75rem 0;
}

.duration {
    font-size: 2.1rem;
    text-decoration:none;
    color: white;
}

.comments {
    font-size: .8rem;
    color: #b3b3b3;
    font-style: italic;
}

.status-text {
    font-size: .6rem;
    font-weight: 400;
    letter-spacing: .1rem;
    color: #00FF85;
}

.name {
    font-size: .9rem;
    color: white;
}

.direction {
    max-width: 25px;
}

.grid-nav {
    display: grid;
    gap: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        'one two three';
    padding: 1rem 1rem .5rem 1rem;
    border-bottom: 1px solid #ff4242;
    background-color: black;
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.nav-box:nth-child(1) {
    grid-area: one;
}
.nav-box:nth-child(2) {
    grid-area: two;
    place-self: center;
}
.nav-box:nth-child(3) {
    grid-area: three;
    place-self: end;
}

.main-container {
    width: min(95%, 35rem);
    margin-inline: auto;
}