body {
    background-color: black;
    color: white;

}

.grid-container {
    display: grid;
    gap: 0px;
    grid-template-rows: auto auto;
    grid-template-columns: 1.5fr 4.75fr 3fr .75fr;
    grid-template-areas: 
        'profile name status status'
        'profile comments duration status-icon';
    border-bottom: 1px solid rgb(53, 53, 53);
}

.grid-name {
    grid-area: name;
    align-self: center;
    padding: .75rem 0 0 .5rem;
}

.grid-status {
    grid-area: status;
    justify-self: end;
    align-self: center;
    padding-top: .75rem;
}

.grid-profile {
    grid-area: profile;
    justify-self: center;
    padding-top: .75rem;
}

.grid-comments {
    grid-area: comments;
    padding: .75rem 0 .5rem 1rem;
    
}

.grid-duration {
    grid-area: duration;
    justify-self: end;
    padding: .75rem .25rem .75rem 0;
}

.grid-status-icon {
    grid-area: status-icon;
    justify-self: end;
    padding: .75rem .0 .75rem 0;

}

.duration {
    font-size: 2.1rem;
    text-decoration:none;
    color: white;
}

.comments {
    font-size: .8rem;
    color: #b3b3b3;
    font-style: italic;
}

.status-text {
    font-size: .6rem;
    font-weight: 400;
    letter-spacing: .1rem;
    color: #00FF85;
}

.name {
    font-size: .9rem;
    color: white;
    font-weight: 700;
    font-style: italic;
}
.grid-nav {
    display: grid;
    gap: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        'one two three';
    padding: 1rem 1rem .5rem 1rem;
    border-bottom: 1px solid #ff4242;
    background-color: black;
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.nav-box:nth-child(1) {
    grid-area: one;
}
.nav-box:nth-child(2) {
    grid-area: two;
    place-self: center;
}
.nav-box:nth-child(3) {
    grid-area: three;
    place-self: end;
}

.main-container {
    width: min(95%, 35rem);
    margin-inline: auto;
}

.user-stats {
    font-size: .6rem;
    color: #7e7e7e;
    display: flex;
    flex-direction: column;
    padding-top: .5rem;
    align-items: center;
    padding-bottom: .75rem;
    line-height: .8rem;
}

.flex-user {
    display: flex;
    flex-direction: column;
    align-items: center;
}