body {
  background-color: black;
  color: white;
  font-family: 'Encode Sans', sans-serif;
}

.user-status-text {
  font-size: 0.625rem;
  text-decoration: none;
}

.main-container {
  width: min(95%, 35rem);
  margin-inline: auto;
}

.grid-nav {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  grid-template-areas: 'one two three four five';
  padding: 1rem 0rem 0.5rem 0rem;
  border-bottom: 1px solid #ff4242;
  background-color: black;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav-box:nth-child(1) {
  grid-area: one;
  place-self: center;
}
.nav-box:nth-child(2) {
  grid-area: two;
  place-self: center;
}

.nav-box:nth-child(3) {
  grid-area: three;
  place-self: center;
}
.nav-box:nth-child(4) {
  grid-area: four;
  place-self: center;
}

.nav-box:nth-child(5) {
  grid-area: five;
  place-self: center;
}

.user-nav-icon {
  padding-left: 0.15rem;
}

.profile-grid {
  padding-top: 1.5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'icon icon'
    'edit edit'
    'name name'
    'username username'
    'holds holds-value'
    'record record-value'
    'average average-value'
    'last-5 last-5-value'
    'following followed'
    'edit-button edit-button';
}

.icon {
  grid-area: icon;
  place-self: center;
}

.profile-icon-image {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 2px solid white;
}

.name {
  grid-area: name;
  place-self: center;
  font-size: 1.5rem;
}

.username {
  grid-area: username;
  place-self: center;
  color: #6d6d6d;
  margin-top: -0.5rem;
}

.holds {
  grid-area: holds;
  place-self: center;
}

.holds-value {
  grid-area: holds-value;
  place-self: center;
}

.record {
  grid-area: record;
  place-self: center;
}

.record-value {
  grid-area: record-value;
  place-self: center;
}

.average {
  grid-area: average;
  place-self: center;
}

.average-value {
  grid-area: average-value;
  place-self: center;
}

.last-5 {
  grid-area: last-5;
  place-self: center;
}

.last-5-value {
  grid-area: last-5-value;
  place-self: center;
}

.edit-button {
  grid-area: edit-button;
  place-self: center;
  text-decoration: none;
  color: #ff4242;
}

.following {
  grid-area: following;
  place-self: center;
}

.followed {
  grid-area: followed;
  place-self: center;
  line-height: 1.25rem;
}

.edit {
  grid-area: edit;
  place-self: center;
  margin-top: -.5rem;
}

.edit a {
  font-size: 0.75rem;
  text-decoration: none;
  color: #ff4242;
}
