.main-container {
    width: min(95%, 35rem);
    margin-inline: auto;
}

.grid-nav {
    display: grid;
    gap: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        'one two three';
    padding: 1rem 1rem .5rem 1rem;
    border-bottom: 1px solid #ff4242;
    background-color: black;
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.nav-box:nth-child(1) {
    grid-area: one;
}
.nav-box:nth-child(2) {
    grid-area: two;
    place-self: center;
}
.nav-box:nth-child(3) {
    grid-area: three;
    place-self: end;
}