.timer-nums {
    font-size: 5rem;
    color: white;
}

.timer-text {
    font-size: 1rem;
}

.noteText {
    font-size: .7rem;
}

.main-container {
    width: min(95%, 35rem);
    margin-inline: auto;
}