body {
    font-family: 'Encode Sans', sans-serif;
}

.timer-nums {
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    padding-right: 1rem;
    transition: 2s ease;
}

.timer-text {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    transition: 2s ease;
}

.sec {
    padding-left: 1rem;
}

.noteText {
    font-size: .7rem;
}

.main-container {
    width: min(95%, 35rem);
    margin-inline: auto;
}

.grid-nav {
    display: grid;
    gap: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        'one two three';
    padding: 1rem 1rem .5rem 1rem;
    border-bottom: 1px solid #ff4242;
    background-color: black;
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.nav-box:nth-child(1) {
    grid-area: one;
}
.nav-box:nth-child(2) {
    grid-area: two;
    place-self: center;
}
.nav-box:nth-child(3) {
    grid-area: three;
    place-self: end;
}

.controls {
    display: flex;
    justify-content: space-between;
}

.myB {
    width: 25vw;
}

.dot-container {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.square {
    background-color: rgb(77, 77, 77);;
    height: 9px;
    width: 9px;
    margin: 2px;
    transition: 2s ease;
}

.num-display {
    padding-bottom: 1rem;
}