<% layout('layouts/boilerplate') %> 

<div class="card mx-1 my-2 border-0 bg-dark">
    <a href="/breathholds/new" role="button" class="btn btn-primary btn-sm mb-1">NEW HOLD</a>
    <a href="/breathholds/timer" role="button" class="btn btn-info btn-sm mb-1" style="color: white;">TIMER</a>
</div>
    <% for (let breathhold of breathholds) { %> 
        <div class="card border-0 px-2 bg-dark">
            <div class="card-body p-2 border-bottom">
                <h6 class="card-title mb-1"><%= breathhold.name %> - <%= breathhold.duration %>s</h6>
                <p class="card-text text-muted mb-0" style="font-size: .8rem;"><%= breathhold.createdAt.toLocaleString('en-US')%></p>
                <a href="/breathholds/<%= breathhold._id%>" style="font-size: .8rem">MORE DETAILS</a>
            </div>
        </div>
    <% } %> 
</div>
