<% layout('layouts/boilerplate') %> 
<div class="row">
    <h4 class="text-center">NEW BREATH HOLD</h4>
    <div class="col-md-6 offset-md-3">
        <form action="/breathholds" method="POST">
            <div class="mb-1">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" id="name" name="breathhold[name]"/>
            </div>
            <div class="mb-1">
                <label class="form-label" for="duration">Duration</label>
                <input class="form-control" type="text" id="duration" name="breathhold[duration]"/>
                <div id="nameHelp" class="form-text text-muted" style="font-size: .7rem;">seconds</div>
            </div>
            <div class="mb-1">
                <label class="form-label" for="type">Breath Type</label>
                <input class="form-control" type="text" id="type" name="breathhold[type]"/>
                <div id="breathHelp" class="form-text text-muted" style="font-size: .7rem;">inhale | exhale</div>
            </div>
            <div class="mb-1">
                <label class="form-label" for="orifice">Orifice</label>
                <input class="form-control" type="text" id="orifice" name="breathhold[orifice]"/>
                <div id="orificeHelp" class="form-text text-muted" style="font-size: .7rem;">nose | mouth</div>
            </div>
            <div class="mb-1">
                <label class="form-label" for="position">Position</label>
                <input class="form-control" type="text" id="position" name="breathhold[position]"/>
                <div id="positionHelp" class="form-text text-muted" style="font-size: .7rem;">seated | lying | reclined | etc</div>
            </div>
            <div class="mb-1">
                <label class="form-label" for="underInfluence">Under the Influence</label>
                <input class="form-control" type="text" id="underInfluence" name="breathhold[underInfluence]"/>
                <div id="underInfluenceHelp" class="form-text text-muted" style="font-size: .7rem;">yes | no</div>
            </div>
            <div class="d-grid gap-2 pb-3 mt-3">
                <button class="btn btn-primary">SUBMIT HOLD</button>
            </div>
        </form>
    </div>
</div>
