<% layout('layouts/boilerplate') %> 
<div class="container-fluid">
    <h4 class="text-center">NEW HOLD</h4>
        <form action="/breathholds" method="POST" class="validated-form" novalidate>
            <div class="mb-1">
                <label class="form-label mb-0 mt-1" for="name" >Name</label>
                <input class="form-control" type="text" id="name" name="breathhold[name]" value="<%= name %> " required/>
            </div>
            <div class="mb-1">
                <label class="form-label mb-0 mt-1" for="duration">Duration</label>
                <input class="form-control" type="text" id="duration" name="breathhold[duration]" required autofocus/>
                <div id="nameHelp" class="form-text text-muted" style="font-size: .7rem;"><i>seconds</i></div>
            </div>
            <div class="mb-1">
                <label class="form-label mb-0 mt-1" for="type">Breath Type</label>
                <input class="form-control" type="text" id="type" name="breathhold[type]" required/>
                <div id="breathHelp" class="form-text text-muted" style="font-size: .7rem;"><i>inhale or exhale</i></div>
            </div>
            <div class="mb-1">
                <label class="form-label mb-0 mt-1" for="orifice">Orifice</label>
                <input class="form-control" type="text" id="orifice" name="breathhold[orifice]" required/>
                <div id="orificeHelp" class="form-text text-muted" style="font-size: .7rem;"><i>nose or mouth</i></div>
            </div>
            <div class="mb-1">
                <label class="form-label mb-0 mt-1" for="position">Position</label>
                <input class="form-control" type="text" id="position" name="breathhold[position]" required/>
                <div id="positionHelp" class="form-text text-muted" style="font-size: .7rem;"><i>seated, lying, reclined, etc</i></div>
            </div>
            <div class="mb-1">
                <label class="form-label mb-0 mt-1" for="underInfluence">Under the Influence</label>
                <input class="form-control" type="text" id="underInfluence" name="breathhold[underInfluence]" required/>
                <div id="underInfluenceHelp" class="form-text text-muted" style="font-size: .7rem;"><i>yes or no</i></div>
            </div>
            <div class="d-grid gap-2 pb-3 mt-3">
                <button class="btn btn-primary">SUBMIT HOLD</button>
            </div>
        </form>
</div>
