<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/timer.css">
    <title>HOLD IT! Timer</title>
</head>
<body class="d-flex flex-column vh-100 bg-black">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/flashIcon.svg" width="40px" height="40px">
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/breathholds">Holds</a>
                    <a class="nav-link" href="/breathholds/timer">New Hold</a>
                </div>
                <div class="navbar-nav ms-auto">
                    <% if(!currentUser) {%>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                    <% } else {%> 
                    <a class="nav-link" href="/logout">Logout</a>
                    <% } %> 
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid text-light mt-1">
            <div class="px-3">
                <div class="big-nums text-center">
                    <span id="minute" class="timer-nums">00</span><span class="timer-text">min</span><br>
                    <span id="second" class="timer-nums">00</span><span class="timer-text">sec</span><br>
                    <span id="millisecond" class="timer-nums" style="display: none;">000</span><span class="timer-text" style="display: none;">ms</span>
                </div>
                <div name="timer_controls">
                    <div class="card border-0 mt-3 bg-black">
                        <button type="button" id="start" name="start" class="btn btn-success btn-sm border-0 p-2 mb-3 rounded-3">START</button>
                        <button type="button" id="stop" name="stop" class="btn btn-danger btn-sm border-0 p-2 rounded-3 mb-3">STOP</button>
                        <button type="button" id="reset" name="reset" class="btn btn-secondary btn-sm border-0 p-2 rounded-3 mb-3">RESET</button>
                        <!-- <a href="/breathholds/new" role="button" type="button" class="btn btn-large btn-primary mt-2 rounded-2">Log This Hold</a> -->
                    </div>
                    <div>
                        <form action="/breathholds" class="validated-form" method="POST" novalidate>
                            <div class="text-left mt-2 mb-3">
                                <label class="form-label mb-1 mt-1" for="comments">Comments</label>
                                <textarea class="form-control mb-1" id="comments" rows="3" name="breathhold[comments]" type="text" required></textarea>
                                <small id="commentsHelp" class="form-text text-muted" style="font-size: .8rem;">Say something...</small>
                            </div>
                            <input class="form-control" type="text" value="0" id="duration" name="breathhold[duration]" id="duration" style="display: none;">
                            <div class="d-grid gap-2 pb-3">
                                <button class="btn btn-primary">SUBMIT HOLD</button>
                            </div>
                            <!-- <button class="btn btn-primary btn-sm border-0 p-2 rounded-3">LOG HOLD</button>  -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
        

    <!-- <footer class="footer bg-dark py-2 mt-auto">
        <div class="container text-center">
            <span class="text-muted">&copyHOLD IT! 2021</span>
        </div>
    </footer> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="/javascripts/validateForms.js"></script>
    <script src="/javascripts/timer.js"></script>
</body>
</html>