<% layout('layouts/boilerplate') %>
<div class="container-fluid bg-black">
    <div class="text-center mt-3">
        <img src="/images/holdlogo.svg" width="50%" height="50%">
    </div>
    <h4 class="text-center mt-3">LOGIN</h4>
    <div class="col-md-6 offset-md-3">
        <form action="/login" method="POST" class="validated-form" novalidate>
            <div class="mb-1">
                <label class="form-label mb-0 mt-1" for="username" >Username</label>
                <input class="form-control" type="text" id="username" name="username" required/>
            </div>
            <div class="mb-1">
                <label class="form-label mb-0 mt-1" for="password" >Password</label>
                <input class="form-control" type="password" id="password" name="password" required/>
            </div>
            <div class="d-grid gap-2 pb-3 mt-3">
                <button class="btn btn-primary">LOGIN</button>
            </div>
        </form>
    </div>
</div>
